/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


/* .check-box .mark {
}*/

/*
.check-box .box{
	-fx-outer-border: #cadbec;
	-fx-body-color: white;
	-fx-background-color:
	-fx-outer-border;
	-fx-body-color; 
	-fx-background-insets: 0.0, 1.0;
	-fx-background-radius: 2.0px, 0.0px;
}

.check-box:indeterminate .mark {
	-fx-shape:"M14.596,2.055L12.455,0C9.687,2.884,6.011,6.714,5.158,7.602L2.055,4.624L0,6.765l5.242,5.037l0.003-0.004l0.003,0.004L14.596,2.055z";
	-fx-background-color: #0000FF;
	-fx-scale-x: 3.0;
    -fx-scale-y: 2.0;
    -fx-translate-x: 0.0px;
    -fx-translate-y: 1.0px;
}

.check-box:selected .mark {
    -fx-background-color: red;
	-fx-background-color: #0181e2;
}

.check-box:selected .mark {
	-fx-shape:"M14.596,2.055L12.455,0C9.687,2.884,6.011,6.714,5.158,7.602L2.055,4.624L0,6.765l5.242,5.037l0.003-0.004l0.003,0.004L14.596,2.055z";
	-fx-background-color: #FF0000;
	-fx-scale-x: 3.0;
    -fx-scale-y: 2.0;
    -fx-translate-x: 0.0px;
    -fx-translate-y: 1.0px;
}
.check-box {
	
}
.check-box:killed .mark {
	-fx-shape:"M14.596,2.055L12.455,0C9.687,2.884,6.011,6.714,5.158,7.602L2.055,4.624L0,6.765l5.242,5.037l0.003-0.004l0.003,0.004L14.596,2.055z";
	-fx-background-color: #0000FF;
	-fx-scale-x: 3.0;
    -fx-scale-y: 2.0;
    -fx-translate-x: 0.0px;
    -fx-translate-y: 1.0px;
}

*/




/*
@font-face { font-family: Digital ; src: url('Digireu.ttf'); } 

.text {
    -fx-font-family: Digital Readout ExpUpright;
}

.background {
    -fx-background-color: #1d1d1d;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Digireu";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Digireu";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-puntiCaricati {
    -fx-font-size: 11pt;
    -fx-font-family: "Digital Readout ExpUpright";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 18pt;
    -fx-font-family: Digireu;
}

.text-field-punti {
    -fx-font-size: 22pt;
    -fx-font-family: "Digireu";
}

.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.check-box {
	-fx-background-color: #ffffff;
    -fx-border-color: #e2e2e2;
}

.check-box-chiusa {
	-fx-background-color: #ff0000;
	-fx-highlight-fill: #ff0000;
    -fx-border-color: #e2e2e2;
}

.radio-button {
    -fx-text-fill: white;
    -fx-border-radius: 20pt;
    -fx-border-color: white;
    -fx-border-width: 2pt;
    -fx-background-color: #0e0e0e;
    -fx-background-radius: 20pt;
}

.radio-button:selected {
	-fx-border-color: red;
}

*/














/*
.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}


* 
* 
*/

/* 
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
/*



.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

*/